body{
    margin:0%;
    padding:0%;
    color:white;
    font-family: Arial,sans-serif;
    background-color: skyblue;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
span{
    color:red;
}
.container{
    padding:15px;
    background: black;
    border-radius:5px;
    width:300px;
    text-align:center;
}
input{
    outline:none;
    border:none;
    padding:5px;
}
button{
    color:white;
    padding:10px;
    border:2px solid white;
    background:black;
    display:block;
    margin-top:10%;
    margin-left:10px;
    cursor:pointer;
}
